# Environments and Secrets
.env
.env.*
!.env.example
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# PyInstaller & Build Files
dist/
build/
*.spec
*.exe

# Node
node_modules/
package -lock.json