# Environments and Secrets
.env
.env.*
!.env.example
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# PyInstaller / Python Build Files
build/
dist/
*.pkg
*.pyz
warn-*.txt
xref-*.html
*.spec
*.toc
base_library.zip
*.exe

# Electron / Electron Builder Build Files
out/
release/
electron-dist/
*.asar
*.asar.unpacked/
*.blockmap
latest*.yml

# Node
node_modules/
package-lock.json